<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
    
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/spring</property>
<property name="hibernate.connection.username">tbone</property>
<property name="hibernate.connection.password">tbone</property>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    
<!-- property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
<property name="hibernate.connection.url">jdbc:hsqldb:mem://localhost</property-->

<!-- use below to start hsql server by running hsqldb jar as java application and running Server n DatabaseManagerSwing classes 
to start server and interact with it-->
<!-- property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost</property-->
<!-- property name="hibernate.connection.username">sa</property>
<property name="connection.password"></property>
<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property-->

<!--  property name="connection.pool_size">1</property-->
<!-- logger name="org.hibernate.SQL">
		<level value="debug" />
</logger>
<property name="show_sql">true</property-->
<property name="hbm2ddl.auto">create</property>
<property name="hibernate.current_session_context_class">thread</property>

<!-- hibernate.c3p0.min_size – Minimum number of JDBC connections in the pool. Hibernate default: 1
	hibernate.c3p0.max_size – Maximum number of JDBC connections in the pool. Hibernate default: 100
	hibernate.c3p0.timeout – When an idle connection is removed from the pool (in second). Hibernate default: 0, never expire.
	hibernate.c3p0.max_statements – Number of prepared statements will be cached. Increase performance. Hibernate default: 0 , caching is disable.
	hibernate.c3p0.idle_test_period – idle time in seconds before a connection is automatically validated by pinging DB, so that DB doesn't remove it from it's server.
		 Hibernate default: 0 -->
  
  <!-- 5 connections to the server open up - can c in mysql Server Manage -->
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">250</property>

  
  <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
  <property name="hibernate.cache.use_structured_entries">true</property>
  <property name="hibernate.cache.use_second_level_cache">true</property>
  <property name="hibernate.cache.use_query_cache">true</property>
  <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
  
<!-- mapping resource="Stock.hbm.xml"/-->
</session-factory>
</hibernate-configuration>